<!-- @dsCard group="Containers" height=260 -->
<!doctype html>
<html lang="en">
<head><meta charset="utf-8"><title>Menu</title></head>
<body>
<div class="ag-pad"><div class="ag-pop" style="width:240px"><div class="ag-mi"><i data-i="shield"></i>Change role</div><div class="ag-mi is-hi"><i data-i="mail"></i>Resend invite</div><div class="ag-mi"><i data-i="link"></i>Copy invite link</div><div class="ag-hr"></div><div class="ag-mi" style="color:var(--red)"><i data-i="trash" style="color:var(--red)"></i>Remove from company</div></div></div>
<script>Agency.ready();</script>
</body>
</html>
